APP_ENV=production
APP_DEBUG=false
APP_URL=https://krenova.my.id

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u743311035_krenova
DB_USERNAME=u743311035_krenova
DB_PASSWORD=Susjol123.
